@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --ff: 'Outfit', sans-serif;

    --br-s: .8rem;
    --br-m: 1.5rem;
    --br-l: 3rem;

    --p: 2.4rem;

    --primary-100: hsl(215, 51%, 70%);
    --primary-200: hsl(178, 100%, 50%);  
    --neutral-100: hsl(217, 54%, 11%);
    --neutral-500: hsl(216, 50%, 16%);
    --neutral-900: hsl(215, 32%, 27%);  
    --white: hsl(0, 0%, 100%);
}
  
*, 
body {
    box-sizing: border-box;
    margin: 0;
    color: var(--white); 
    font-size: 10px;
    font-family: var(--ff);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {    
    background-color: var(--neutral-100); 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--neutral-500);  
    border-radius: var(--br-m);
    padding: var(--p);
    width: 95%;
    min-width: 327px;

    outline: 2px solid green;    
}

.main-image {
    width: 100%;  
    transition: .5s ease;
    border-radius: var(--br-s);
    border: 2px solid red;
}

.main-image-overlay {
}
