@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* Color schema */
:root{
    --primary-100: hsl(215, 51%, 70%);
    --primary-200: hsl(178, 100%, 50%);
  
    --neutral-100: hsl(217, 54%, 11%);
    --neutral-500: hsl(216, 50%, 16%);
    --neutral-900: hsl(215, 32%, 27%);
  
    --white: hsl(0, 0%, 100%);
}
  
*, 
body {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--neutral-100); 
    color: var(--white); 
    width: 100vw;
    height: 100vh;
    display: flex;
}

.card-container {
    width: 350px;
    border-radius: 15px;
    background-color: var(--neutral-500);  
    margin: auto;
    padding: 24px;
}

.main-image {
    width: 100%;
    transition: .5s ease;
    border-radius: 8px;
}

.title {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    margin-top: 24px;
}

.subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    margin-top: 16px;
    color: var(--primary-100);
}


@media screen and (max-width: 400px) {
    .card-container {
        width: 90vw;
        min-width: 350px;
        flex-direction: column-reverse;
    }
}