@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --ff: 'Outfit', sans-serif;

    --fw-l: 300;
    --fw-r: 400;
    --fw-sb: 600;

    --fs-s: 1.6rem;
    --fs-m: 1.8rem;
    --fs-l: 2.2rem;

    --lh-s: 2rem;
    --lh-m: 2.6rem;
    --lh-l: 2.8rem;

    --br-s: .8rem;
    --br-m: 1.5rem;
    --br-l: 3rem;

    --mt-s: 1.6rem;
    --mt-l: 2.4rem;

    --p: 2.4rem;

    --primary-100: hsl(215, 51%, 70%);
    --primary-200: hsl(178, 100%, 50%);  
    --neutral-100: hsl(217, 54%, 11%);
    --neutral-500: hsl(216, 50%, 16%);
    --neutral-900: hsl(215, 32%, 27%);  
    --white: hsl(0, 0%, 100%);
}
  
*, 
body {
    box-sizing: border-box;
    margin: 0;
    color: var(--white); 
    font-size: 10px;
    font-family: var(--ff);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {    
    background-color: var(--neutral-100); 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--neutral-500);  
    border-radius: var(--br-m);
    padding: var(--p);
    width: 90%;
    min-width: 327px;   
}

h1 {
    font-size: var(--fs-l);
    font-weight: var(--fw-sb);
    line-height: var(--lh-l);
    margin-top: var(--mt-l);
}

p {
    font-size: var(--fs-m);
    font-weight: var(--fw-l);
    line-height: var(--lh-m);
    margin-top: var(--mt-s);
    color: var(--primary-100);
}

.main-image {
    width: 100%;  
    transition: .5s ease;
    border-radius: var(--br-s);
}

.main-image:hover {
    cursor: pointer;    
    opacity: 0.3;
    border-radius: var(--br-s);
}

/******* Information Area ********/

.row {
    display: flex;
    justify-content: space-between;
    margin-top: var(--mt-l);
}

.eth, .time {
    display: flex;
    align-items: center;
}

.text {
    font-size: var(--fs-s);
    line-height: var(--lh-s);
    margin-left: .8rem;
}

.eth .text {
    font-weight: var(--fw-sb);
    color: var(--primary-200);
}

.time .text {
    font-weight: var(--fw-r);
    color: var(--primary-100);
}

.separator {
    height: 1px;
    background-color: var(--neutral-900);
    margin-top: var(--mt-l);
}

/******* Creator Area ********/
.profile-image {    
    width: 30px;
    border: 1px solid var(--white);
    border-radius: var(--br-l);
}

.creator-row {
    display: flex;
    align-items: center;
    margin-top: var(--mt-s);
}

.creator {
    display: flex;
}

.creator .text {
    color: var(--primary-100);      
    margin: 0 5px 0 16px;
}

.creator .name, .creator .text {
    font-weight: var(--fw-r);
    font-size: var(--fs-s);
}